VIRTITTA_IMAGE=virtitta:local
VIRTITTA_LISTEN_ADDRESS=127.0.0.1
VIRTITTA_PORT=8000
VIRTITTA_CONFIG=./virtitta.toml
VIRTITTA_DATA=./data
VIRTITTA_RESULTS_ROOT=/path/on/host/to/virpipa/results
VIRTITTA_RESULTS_CONTAINER_ROOT=/results
VIRTITTA_CLARITY_ROOT=/path/on/host/to/clarity/metadata
VIRTITTA_CLARITY_CONTAINER_ROOT=/clarity
VIRTITTA_FORWARDED_ALLOW_IPS=127.0.0.1
